@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "lato";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.header {
  padding: 24px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* .header__container */
  /* .header__logo */
  /* .header__navigation */
  /* .header__list */
  /* .header__sublist */
  /* .header__link */
  /* .header__burger */
  /* .header__info */
  /* .info__button */
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  max-width: 100%;
}

.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.header__sublist {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: #424551;
}

.header__burger {
  display: none;
}

.header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .info__log */
}

.header .info__log {
  font-weight: 700;
  line-height: 1.6;
  color: #424551;
  background: url(../img/icons/fas.svg) 0 0 no-repeat;
  padding-left: 20px;
}

.button {
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  padding: 15px 40px;
}

.footer {
  background: #1E212C;
  /* .footer__container */
  padding-top: 81.3px;
}

.finish {
  /* .finish__block */
  /* .finish__column */
  /* .finish__logo */
  /* .finish__text */
  /* .finish__social */
  /* .finish__face */
  /* .finish__twitter */
  /* .finish__youtube */
  /* .finish__telegram */
  /* .finish__insta */
  /* .finish__linked */
  /* .finish__title */
  /* .finish__list */
  /* .finish__sublist */
  /* .finish__phone */
  /* .finish__mail */
  /* .finish__form */
  /* .finish__input */
  /* .finish__infotext */
  /* .finish__subblock */
}

.finish__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -40px;
  margin-bottom: 60px;
}

.finish__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 0 40px;
}

.finish__logo {
  margin-bottom: 24px;
  display: inline-block;
}

.finish__text {
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 38px;
  opacity: 0.6;
}

.finish__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.finish__title {
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #FFFFFF;
}

.finish__sublist {
  line-height: 160%;
  margin-bottom: 8px;
  color: #FFFFFF;
}

.finish__sublist:last-child {
  margin-bottom: 0;
}

.finish__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 8px;
  gap: 8px;
}

.finish__phone::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/icons/phone.svg) left no-repeat;
}

.finish__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 8px;
  gap: 8px;
}

.finish__mail::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/icons/Union.svg) left no-repeat;
}

.finish__title--margin {
  margin-bottom: 24px;
}

.finish__input {
  height: 36px;
  width: 100%;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin-bottom: 12px;
  padding-left: 12px;
  background: url(../img/icons/Line.svg) right no-repeat;
}

.finish__infotext {
  font-size: 10px;
  line-height: 150%;
  color: #FFFFFF;
}

.finish__subblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.who-did {
  /* .who-did__column */
  /* .who-did__text */
  /* .who-did__text--decor */
  /* .who-did__start */
}

.who-did__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.who-did__text {
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}

.who-did__text--decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.4px;
}

.who-did__text--decor::before {
  content: "";
  width: 15.17px;
  height: 13.33px;
  background: url(../img/icons/love.svg) left no-repeat;
}

.who-did__start {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.blog__subtext,
.certificate__subtext,
.benefits__subtext,
.we-are__sublist,
.adventages__text {
  line-height: 160%;
  color: #1E212C;
}

.subscribe__title,
.blog__title,
.students__title,
.team__title,
.certificate__title,
.events__title,
.benefits__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.page {
  /* .page__about */
}

.page__about {
  padding: 200px 0 80px 0;
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.204) 0%, rgba(247, 94, 5, 0.204) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.204) 0%, rgba(247, 94, 5, 0.204) 100%);
  position: relative;
  margin-bottom: 180px;
}

.about {
  /* .about__container */
  /* .about__info */
  /* .about__column */
  /* .about__media */
  /* .about__title */
  /* .about__buttons */
  /* .about__link */
  /* .about__sublink */
  /* .about__image */
  /* .about__adventages */
  /* .about__decoracion */
  /* .about__ilustracion */
  /* .about__ilustracion--1 */
  /* .about__ilustracion--2 */
  /* .about__ilustracion--3 */
  /* .about__ilustracion--4 */
  /* .about__ilustracion--5 */
  /* .about__ilustracion--6 */
}

.about__container {
  position: relative;
  z-index: 5;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 189px;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__media {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E212C;
  gap: 16px;
  position: relative;
  margin-bottom: 24px;
}

.about__media::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  width: 52px;
  height: 52px;
  background: #FF3F3A url(../img/icons/Polygon.svg) center no-repeat;
  border-radius: 50%;
}

.about__media::after {
  content: "";
  width: 52px;
  height: 52px;
  background: rgba(255, 64, 58, 0.377) url(../img/icons/Polygon.svg) center no-repeat;
  border-radius: 50%;
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
  position: absolute;
}

.about__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #1E212C;
  margin-bottom: 60px;
}

.about__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__link {
  padding: 15px 40px;
}

.about__sublink {
  padding: 15px 40px;
}

.about__image img {
  max-width: 100%;
}

.about__image {
  padding-left: 20px;
}

.about__decoracion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about__ilustracion {
  position: absolute;
}

.about__ilustracion--1 {
  background: url(../img/icons/decor1.svg) 0 0 no-repeat;
  width: 96px;
  height: 96px;
  left: 4.3%;
  top: 12.3%;
}

.about__ilustracion--2 {
  background: url(../img/icons/decor2.svg) 0 0 no-repeat;
  width: 284px;
  height: 284px;
  left: -5.8%;
  bottom: -9.2%;
}

.about__ilustracion--3 {
  background: url(../img/icons/decor3.svg) 0 0 no-repeat;
  width: 187px;
  height: 137px;
  right: -1.5%;
  bottom: 18%;
}

.about__ilustracion--4 {
  background: url(../img/icons/decor4.svg) 0 0 no-repeat;
  width: 61px;
  height: 61px;
  left: 38%;
  bottom: 24%;
}

.about__ilustracion--5 {
  background: url(../img/icons/decor5.svg) 0 0 no-repeat;
  width: 88px;
  height: 47px;
  left: 41%;
  top: 45%;
}

.about__ilustracion--6 {
  background: url(../img/icons/decor1.svg) 0 0 no-repeat;
  width: 110px;
  height: 110px;
  top: -4.1%;
  right: 9%;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.adventages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* .adventages__info */
  /* .adventages__value */
  /* .adventages__text */
  /* .adventages__decor */
}

.adventages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.adventages__value {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.adventages__decor {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FF3F3A;
}

.subbutton {
  font-weight: 700;
  line-height: 1.25;
  background: transparent;
  letter-spacing: 0.5px;
  border-radius: 4px;
  color: #FF3F3A;
  border: 2px solid #FF3F3A;
}

.page {
  /* .page__we-are */
}

.page__we-are {
  margin-bottom: 180px;
}

.we-are {
  position: relative;
  /* .we-are__container */
  /* .we-are__column */
  /* .we-are__image */
  /* .we-are__text */
  /* .we-are__title */
  /* .we-are__list */
  /* .we-are__sublist */
  /* .we-are__link */
  /* .about__style */
  /* .about__style--1 */
  /* .about__style--2 */
}

.we-are__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we-are__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.we-are__image img {
  max-width: 100%;
}

.we-are__column--width {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding-left: 60px;
}

.we-are__text {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
}

.we-are__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 40px;
}

.we-are__list {
  margin-bottom: 48px;
}

.we-are__sublist {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.we-are__sublist::before {
  content: "";
  width: 16px;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  background: url(../img/icons/check.svg) center no-repeat;
}

.we-are__sublist:last-child {
  margin-bottom: 0;
}

.we-are__link {
  display: inline-block;
}

.we-are__decoracion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.we-are__style {
  position: absolute;
}

.we-are__style--1 {
  background: url(../img/icons/dots-decor1.svg) 0 0 no-repeat;
  top: 3.5%;
  left: -4.7%;
  height: 132.74px;
  width: 181.18px;
}

.we-are__style--2 {
  background: url(../img/icons/circles-section2.svg) 0 0 no-repeat;
  width: 287px;
  height: 287px;
  bottom: 5.5%;
  right: -8.5%;
}

.page {
  /* .page__teacher */
}

.page__teacher {
  margin-bottom: 180px;
}

.teacher {
  /* .teacher__container */
  /* .teacher__info */
  /* .teacher__subinfo */
  /* .teacher__text */
  /* .teacher__title */
  /* .teacher__viev */
  /* .teacher__subbotton */
  /* .teacher__block */
  /* .teacher__column */
  /* .teacher__subblock */
}

.teacher__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teacher__subinfo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.teacher__text {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
}

.teacher__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 60px;
}

.teacher__subbotton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teacher__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
}

.teacher__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 15px;
}

.teacher__subblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.learn {
  /* .learn__image */
  /* .learn__column */
  /* .learn__text */
  /* .learn__subcolumn */
  /* .learn__buy */
  /* .learn__teacher */
}

.learn__image {
  position: relative;
  padding-left: 40%;
  padding-bottom: 45%;
}

.learn__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.learn__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 20px;
}

.learn__subcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.learn__buy {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF4242;
}

.learn__teacher {
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.learn__teacher::before {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #787A80;
}

.lern {
  /* .lern__button */
  /* .lern__button--violet */
  /* .lern__button--orange */
  /* .lern__button--pink */
}

.lern__button {
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  background: #03CEA4;
  border-radius: 4px;
  padding: 1px 8px;
  margin-bottom: 20px;
  display: inline-block;
}

.lern__button--violet {
  background: #5A87FC;
}

.lern__button--orange {
  background: #F89828;
}

.lern__button--pink {
  background: #F52F6E;
}

.page {
  /* .page__benefits */
}

.page__benefits {
  margin-bottom: 180px;
}

.benefits {
  /* .benefits__container */
  /* .benefits__text */
  /* .benefits__title */
  /* .benefits__block */
  /* .benefits__link */
  /* .benefits__link--layout */
  /* .benefits__link--chat */
  /* .benefits__subblock */
  /* .benefits__column */
  /* .benefits__subtitle */
  /* .benefits__subtext */
}

.benefits__text {
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
}

.benefits__title {
  text-align: center;
  margin-bottom: 60px;
}

.benefits__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.benefits__link {
  font-weight: 700;
  line-height: 160%;
  color: #9A9CA5;
}

.benefits__link--star {
  background: url(../img/icons/Star-section4.svg) left no-repeat;
  color: #FF3F3A;
  padding: 15px 32px 15px 20px;
}

.benefits__link--shape {
  background: url(../img/icons/shape-section4.svg) 0 0px no-repeat;
  padding-left: 20px;
}

.benefits__link--layout {
  background: url(../img/icons/Layouts-section4.svg) 0 0px no-repeat;
  padding-left: 20px;
}

.benefits__link--chat {
  background: url(../img/icons/Chat-section4.svg) 0 0px no-repeat;
  padding-left: 20px;
}

.benefits__subblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 135px;
}

.benefits__subtitle {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 24px;
}

.benefits__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.benefits__image img {
  max-width: 100%;
}

.page {
  /* .page__events */
}

.events {
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.203) 0%, rgba(247, 94, 5, 0.208) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.203) 0%, rgba(247, 94, 5, 0.208) 100%);
  /* .events__container */
  padding-top: 80px;
  padding-bottom: 80px;
  /* .events__text */
  /* .events__title */
  text-align: center;
  margin-bottom: 60px;
  /* .events__block */
  /* .events__column */
  /* .events__row */
  /* .events__value */
  /* .events__date */
  /* .events__month */
  /* .events__number */
  /* .events__info */
  /* .events__online */
  /* .events__link */
  /* .events__informacion */
  /* .events__more */
  /* .events__button */
}

.events__text {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
  text-align: center;
}

.events__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.events__column {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 32px 40px;
  margin-bottom: 60px;
}

.events__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.events__value {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
}

.events__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.events__month {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 4px;
}

.events__subtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.events__number {
  line-height: 160%;
  color: #787A80;
}

.events__subtext {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.events__info {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  margin-bottom: 4px;
}

.events__online {
  line-height: 160%;
  color: #787A80;
  display: inline-block;
}

.events__link {
  text-align: center;
  padding: 15px 32px;
  display: inline-block;
}

.events__informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.events__more {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
}

.paze {
  /* .paze__certificate */
  background: #E5E5E5;
}

.certificate {
  /* .certificate__container */
  /* .certificate__block */
  /* .certificate__text */
  /* .certificate__title */
  /* .certificate__subtext */
  /* .certificate__info */
  /* .certificate__logo */
  /* .certificate__image */
}

.certificate__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.certificate__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding-right: 20px;
}

.certificate__text {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
}

.certificate__title {
  margin-bottom: 48px;
}

.certificate__subtext {
  margin-bottom: 32px;
}

.certificate__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.certificate__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.certificate__image img {
  max-width: 100%;
}

.page {
  /* .page__team */
}

.page__team {
  background: #F4F5F7;
  min-height: 300px;
  margin-top: -150px;
  margin-bottom: 180px;
}

.team {
  /* .team__container */
  /* .team__text */
  /* .team__title */
  /* .team__block */
  /* .team__column */
  /* .team__image */
  /* .team__name */
  /* .team__profession */
}

.team__container {
  padding-top: 166px;
}

.team__text {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
}

.team__title {
  margin-bottom: 60px;
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.team__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}

.team__image {
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 16px;
}

.team__image img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
}

.team__profession {
  line-height: 160%;
  text-align: center;
  color: #787A80;
}

.page {
  /* .page__students */
}

.page__students {
  margin-bottom: 120px;
  background: #F4F5F7;
}

.students {
  /* .students__container */
  /* .students__text */
  /* .students__title */
  /* .students__block */
  /* .students__subtext */
  /*  &__subtext::before{
  content: "";
  width: 28px;
  height: 20px;
  flex: 0 1 28px;
  background: url(../img/icons/braces.svg) left no-repeat;
      }*/
  /* .students__subblock */
  /* .students__image */
  /* .students__name */
  /* .students__profile */
}

.students__text {
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
}

.students__title {
  margin-bottom: 60px;
  text-align: center;
}

.students__slaid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 50px;
}

.students__slaid::before {
  content: "";
  background: url(../img/icons/Line1.svg) center no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 0;
}

.students__slaid::after {
  content: "";
  background: red url(../img/icons/Line.svg) center no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  border-radius: 50%;
}

.students__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1020px;
  background: #FFFFFF;
  margin: 0 auto;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  padding: 64px 105px;
}

.students__subtext {
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 24px;
  background: url(../img/icons/braces.svg) 0 0 no-repeat;
  padding-left: 58px;
}

.students__subblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 58px;
}

.students__name {
  font-weight: 700;
  line-height: 160%;
  color: #1E212C;
  margin-bottom: 4px;
}

.students__profile {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}

.page {
  /* .page__blog */
}

.page__blog {
  margin-bottom: 180px;
}

.blog {
  /* .blog__container */
  /* .blog__header */
  /* .blog__info */
  /* .blog__subtitle */
  /* .blog__title */
  /* .blog__button */
  /* .blog__go */
  /* .blog__block */
  /* .blog__column */
  /* .blog__image */
  /* .blog__subblock */
  /* .blog__marketing */
  /* .blog__month */
  /* .blog__time */
  /* .blog__text */
  /* .blog__subtext */
  /* .blog__link */
}

.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blog__subtitle {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 0.5rem;
}

.blog__title {
  margin-bottom: 2.87rem;
}

.blog__go {
  display: inline-block;
}

.blog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}

.blog__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__image {
  position: relative;
  padding-bottom: 70%;
  margin-bottom: 16px;
}

.blog__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__subblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.blog__marketing {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  color: #787A80;
}

.blog__month {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  color: #787A80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8.83px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__month::before {
  content: "";
  background: url(../img/icons/valet.svg) left no-repeat;
  width: 14.33px;
  height: 14.33px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 14.33px;
          flex: 0 1 14.33px;
}

.blog__decor {
  width: 12px;
  height: 0px;
  border: 1px solid #787A80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.blog__time {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  color: #787A80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8.67px;
}

.blog__time::before {
  content: "";
  background: url(../img/icons/time.svg) left no-repeat;
  width: 14.67px;
  height: 14.67px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.67px;
          flex: 0 0 14.67px;
}

.blog__text {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  color: #1E212C;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blog__subtext {
  margin-bottom: 1rem;
}

.blog__link {
  font-weight: 700;
  line-height: 160%;
  color: #1E212C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.blog__link::after {
  content: "";
  background: url(../img/icons/Linered.svg) 0 0 no-repeat;
  width: 18px;
  height: 11px;
}

.page {
  /* .page__subscribe */
}

.page__subscribe {
  padding: 120px 0 180px 0;
  background: -o-linear-gradient(34.05deg, rgba(255, 64, 58, 0.203) 0%, rgba(247, 94, 5, 0.208) 100%);
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.203) 0%, rgba(247, 94, 5, 0.208) 100%);
  position: relative;
}

.subscribe {
  /* .subscribe__container */
  /* .subscribe__subtitle */
  /* .subscribe__title */
  /* .subscribe__form */
  /* .subscribe__input */
  /* .subscribe__link */
  /* .subscribe__decor */
}

.subscribe__container {
  max-width: 810px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
  position: relative;
}

.subscribe__subtitle {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 8px;
  text-align: center;
}

.subscribe__title {
  margin-bottom: 60px;
  text-align: center;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding: 0 100px;
}

.subscribe__input {
  height: 52px;
  width: 100%;
  padding-left: 1rem;
  background: #FFFFFF;
  border: 1px solid #D7DADD;
  border-radius: 4px;
}

.decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* .decor__image */
  /* .decor__image--1 */
  /* .decor__image--2 */
}

.decor__image {
  position: absolute;
}

.decor__image--1 {
  background: url(../img/illustration-sect7.svg) 0 0 no-repeat;
  width: 354px;
  height: 246px;
  bottom: 0;
  left: 0;
}

.decor__image--2 {
  background: url(../img/illustration-sect7.svg) 0 0 no-repeat;
  width: 354px;
  height: 246px;
  bottom: 0;
  right: 0;
}

@media (max-width: 1103px) {
  .header__container {
    gap: 20px;
  }

  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1020px) {
  .finish__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
  }
}

@media (max-width: 998px) {
  .page__benefits {
    margin-bottom: 90px;
  }

  .benefits__block {
    margin-bottom: 35px;
  }

  .benefits__column {
    padding-right: 30px;
  }

  .team__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .team__title {
    margin-bottom: 30px;
  }

  .students__title {
    margin-bottom: 25px;
  }

  .students__block {
    padding: 35px 40px;
  }
}

@media (max-width: 991.98px) {
  .page__students {
    margin-bottom: 40px;
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  .page__blog {
    margin-bottom: 60px;
  }

  .page__subscribe {
    padding: 60px 0 80px 0;
  }
}

@media (max-width: 988px) {
  .page__team {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 948px) {
  .blog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .blog__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 945px) {
  .page__teacher {
    margin-bottom: 70px;
  }

  .teacher__subblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .learn__image {
    padding-left: 70%;
    padding-bottom: 60%;
  }

  .learn__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .learn__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 942px) {
  .about__title {
    font-size: 44px;
    margin-bottom: 40px;
  }
}

@media (max-width: 829px) {
  .teacher__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .teacher__subblock {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .learn__column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 778px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header__burger::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header__burger::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header__list {
    display: none;
  }

  .header__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .header .info {
    display: none;
  }

  .page__about {
    padding: 100px 0 30px 0;
  }

  .page__about {
    margin-bottom: 30px;
  }

  .about__info {
    margin-bottom: 50px;
  }

  .about__media::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
            flex: 0 0 32px;
    width: 32px;
    height: 32px;
  }

  .about__media::after {
    display: none;
  }

  .about__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__sublink {
    padding: 7px 20px;
  }

  .about__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }

  .about__link {
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .about__sublink {
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .adventages__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .adventages__decor {
    display: none;
  }

  .page__we-are {
    margin-bottom: 50px;
  }

  .we-are__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .we-are__column {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 30px;
  }

  .we-are__column--width {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .we-are__title {
    text-align: center;
    margin-bottom: 20px;
  }

  .we-are__text {
    text-align: center;
  }

  .we-are__list {
    margin-bottom: 20px;
  }

  .we-are__link {
    margin-bottom: 10px;
    padding: 10px 30px;
  }

  .teacher__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .teacher__title {
    margin-bottom: 20px;
  }

  .teacher__text {
    text-align: center;
  }

  .teacher__subbotton {
    padding: 4px 20px;
  }

  .page__benefits {
    margin-bottom: 30px;
  }

  .benefits__title {
    margin-bottom: 15px;
    font-size: 35px;
  }

  .benefits__block {
    margin-bottom: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
  }

  .benefits__link--star {
    padding: 7px 20px;
    background: url(../img/icons/Star-section4.svg) 0 9px no-repeat;
  }

  .benefits__subblock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
  }

  .benefits__subtitle {
    text-align: center;
  }

  .benefits__subtext {
    text-align: center;
  }

  .events {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .events__title {
    margin-bottom: 20px;
    font-size: 35px;
  }

  .events__block {
    gap: 10px;
  }

  .events__column {
    padding: 15px 15px;
    margin-bottom: 30px;
  }

  .events__value {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .events__date {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .events__row {
    gap: 0;
  }

  .events__subtext {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .events__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .certificate__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .certificate__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-right: 0px;
  }

  .certificate__title {
    margin-bottom: 20px;
    font-size: 35px;
  }

  .certificate__subtext {
    margin-bottom: 15px;
  }

  .team__text {
    text-align: center;
  }

  .team__title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
  }

  .team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    row-gap: 15px;
  }

  .students__title {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 25px;
  }

  .finish__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 767.98px) {
  .blog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767px) {
  .subscribe__title {
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
  }
}

@media (max-width: 700px) {
  .page__teacher {
    margin-bottom: 30px;
  }
}

@media (max-width: 598px) {
  .finish__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 575px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

@media (max-width: 552px) {
  .events__informacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 545px) {
  .blog__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }

  .blog__subtitle {
    text-align: center;
  }

  .blog__title {
    margin-bottom: 1rem;
    font-size: 2.1rem;
  }

  .blog__go {
    margin-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .teacher__title {
    font-size: 30px;
  }
}

@media (max-width: 498px) {
  .team__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .team__image {
    padding-bottom: 70%;
  }
}

@media (max-width: 451px) {
  .adventages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}